<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Collection Tracking</title>
</head>
<body>
    <h1>Add Historical Collection Tracking Info</h1>

    <!--Add instructions from `the_database.rst` step four, substeps two through five; includes ability to download "initialize_annualUsageCollectionTracking.csv"-->

    <!--Upload the above CSVs once filled out and pass it via form to upload_historical_non_COUNTER_usage-->
</body>
</html>