<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Initialize Database</title>
</head>
<body>
    <h1>Initialize the Database with R4 Data</h1>
    <p>The relational database is created containing the historical R4 data. In creating the database with all the R4 data, you cna be sure that the historical COUNTER data is in the new system and that R5 reports collected via SUSHI will have a solid foundation for deduplication.</p>

    <h2>1. Reformat the R4 Reports with OpenRefine</h2>

    <h2>2. Upload the Reformatted R4 Reports</h2>

    <p>a file selection field that supports selecting multiple files that goes to determine_if_resources_match when submitted</p>
</body>
</html>