<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Initialize the Database</title>
</head>
<body>
    <h1>Initialize the Database</h1>

    <!--Add instructions from `the_database.rst` step one through step four, substep one; includes ability to download "initialize_fiscalYears.csv", "initialize_vendors.csv", and "initialize_statisticsSources.csv"-->

    <!--Upload the above three CSVs and pass them via form to save_historical_collection_tracking_info-->
</body>
</html>