<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Database Initialization Wizard 1</title>
</head>
<body>
    <h1>Database Initialization Wizard: Page 1</h1>
    <p>These pages will walk you through the process of initializing the database with your historical usage statistics and other data required for the relational structure of the underlying database.</p>

    <ol>
        <li><h2>Create the `fiscalYears` Relation with Historical Years</h2>
            <ol>
                <li>Download <a href="{{ url_for('ingest.download_file', filename='initialize_fiscalYears.csv') }}">"initialize_fiscalYear.csv"</a></li>
                <li>For all previous fiscal years for which there is usage data, fill out a row in the CSV with the appropriate data (only the `Year`, `Start_Date`, and `End_Date` fields are required)</li>
                <li>Add sequential integer numbering starting at `1` and incrementing by one to all records in the `Fiscal_Year_ID` field</li>
            </ol>
        </li>
        
        <li><h2>Create the `vendors` and `vendorNotes` Relations</h2>
            <ol>
                <li>Download <a href="{{ url_for('ingest.download_file', filename='initialize_vendors.csv') }}">"initialize_vendors.csv"</a></li>
                <li>In the `Vendor_Name` field, list all the organizations which provide or have provided resources--publishers, aggregators, free sources, ect.</li>
                <li>For all of the above values that have vendor codes in Alma, add those codes to the `Alma_Vendor_Code` field</li>
                <li>Add sequential integer numbering starting at `1` and incrementing by one to all records in the `Vendor_ID` field</li>
                <li>Download <a href="{{ url_for('ingest.download_file', filename='initialize_vendorNotes.csv') }}">"initialize_vendorNotes.csv"</a></li>
                <li>For every note on a vendor that needs to be added, in the `REFERENCE Vendor_ID` field, put the name of the vendor exactly how it appears in the `vendors` relation</li>
                <li>For all records, fill out the `Note`, `Written_By`, and `Date_Written` fields</li>
                <li>Copy `=VLOOKUP(A2,initialize_vendors.csv!$A:$C,3,0)` into cell E2, use autofill to copy the formula in all records, then save the results in place as values</li>
                <li>Delete column A with the field `REFERENCE Vendor_ID`</li>
            </ol>
        </li>
        
        <li><h2>Create the `statisticsSources` Relation</h2>
            <ol>
                <li>Download <a href="{{ url_for('ingest.download_file', filename='initialize_statisticsSources.csv') }}">"initialize_statisticsSources.csv"</a> and move it to the same folder as "initialize_fiscalYear.csv" and "initialize_vendors.csv"</li>
                <li>For each set of securely stored R5 SUSHI credentials, list the resource the the credentials are for in the `Statistics_Source_Name` field, the name of the vendor supplying the resource exactly how it appears in the `vendors` relation in the `REFERENCE Vendor_ID` field, and either the Alma interface name or the secure JSON file ID for the credentials in the `Statistics_Source_Retrieval_Code` field</li>
                <li>For all sites with administrator portals that don't provide R5 SUSHI credentials, add their names to the `Statistics_Source_Name` field and the name of the vendor supplying the resource exactly how it appears in the `vendors` relation in the `REFERENCE Vendor_ID` field</li>
                <li>For all records in `vendors` not already in the CSV, add those values exactly how they appear in the `vendors` relation in the `REFERENCE Vendor_ID` field in one or more records for the domain or grouping under which usage statistics are collected if known or all existing domains if not known with the names going in the `Statistics_Source_Name` field</li>
                <li>For all records, add a Boolean value to the `Current_Access` field indicating if we currently utilize the given source for resources</li>
                <li>Copy `=VLOOKUP(B2,initialize_vendors.csv!$A:$C,3,0)` into cell F2, use autofill to copy the formula in all records, then save the results in place as values</li>
                <li>Delete column B with the field `REFERENCE Vendor_ID`</li>
                <li>Add sequential integer numbering starting at `1` and incrementing by one to all records in the `Statistics_Source_ID` field</li>
            </ol>
        </li>

        <li><h2>Create the `annualUsageCollectionTracking` Relation</h2>
            <ol>
                <li>Upload "initialize_fiscalYear.csv", "initialize_vendors.csv", and "initialize_statisticsSources.csv"</li>
            </ol>
            <form method="POST" action="/initialize-collection-tracking" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <label>
                    {{ form.fiscalYears_CSV.label }}
                    {{ form.fiscalYears_CSV }}
                </label>
                <br>
                <label>
                    {{ form.vendors_CSV.label }}
                    {{ form.vendors_CSV }}
                </label>
                <br>
                <label>
                    {{ form.statisticsSources_CSV.label }}
                    {{ form.statisticsSources_CSV }}
                </label>
                <br>
                <input type="submit" value="Submit">
            </form>
        </li>
    </ol>
</body>
</html>