<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingest Usage</title>
</head>
<body>
    <!--
        ToDo: Create link to page for uploading R4 reports
        ToDo: Create link to page for uploading R5 reports changed from tabular report into something RawCOUNTERReport can handle
        ToDo: Create link to page for getting start and end dates for custom SUSHI range, then putting them into StatisticsSources.collect_usage_statistics
        ToDo: Create link to page for adding non-COUNTER compliant usage
    -->
</body>
</html>