<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Upload Historical Non-COUNTER Data</title>
</head>
<body>
    <h1>Upload Historical Non-COUNTER Data</h1>

    <!--
        Create a form with an iterating field that passes the collected data to `initialization.wizard_page_3`
        For each item in the iterable of records with a non-COUNTER usage data file, provide a place to upload the file
    -->
</body>
</html>