beautifulsoup4==4.11.1
boto3==1.26.141
Flask==3.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
graphviz==0.17
lxml==4.9.0
mysql==0.0.3
mysqlclient==2.1.1
openpyxl==3.0.3
pandas[aws, performance, pyarrow]==2.2.2
pyinputplus==0.2.12
PyMySQL==0.10.1
pytest==6.2.5
pytest-dependency==0.5.1
pytest-session2file==0.1.11
requests==2.26.0
requests-toolbelt==0.10.1
Sphinx==4.1.1
sphinx-autobuild==2021.3.14
sphinx-autodocgen==1.2
SQLAlchemy==2.0.29
WTForms==3.1.2