awscli  #TEST: temp
beautifulsoup4==4.12.3
boto3
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fsspec==2024.5.0 # Unused, exists only as dependency for also-unused `s3fs`
# gevent==24.11.1 added by Dockerfile
graphviz==0.20.3
# gunicorn==23.0.0 added by Dockerfile
lxml==5.2.1
mysql==0.0.3
mysqlclient==2.2.4
openpyxl==3.1.2
pandas[parquet, performance]==2.2.2
PyInputPlus==0.2.12
pytest==8.2.0
pytest-dependency==0.6.0
pytest-session2file==0.1.11
requests==2.31.0
requests-toolbelt==1.0.0
s3fs==2024.5.0 # Unused, may not be needed
Sphinx
sphinx-autobuild
sphinx-autodocgen
SQLAlchemy==2.0.29
WTForms==3.1.2