beautifulsoup4
boto3
Flask
Flask-SQLAlchemy
Flask-WTF
graphviz
lxml
mysql
mysqlclient
openpyxl
pandas[aws, performance, pyarrow]
pyinputplus
PyMySQL
pytest
pytest-dependency
pytest-session2file
requests
requests-toolbelt
Sphinx
sphinx-autobuild
sphinx-autodocgen
SQLAlchemy
WTForms