<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update with Insert Statements</title>
</head>
<body>
    <h1>Update with Insert Statements</h1>

    {% with message = get_flashed_messages() %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('ingest_usage.add_SQL_insert_statements') }}" method="POST">
        {{ form.csrf_token }}
        <label>
            {{ form.SQL_file.label }}
            {{ form.SQL_file }}
        </label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>