{% extends "nolcat/templates/layout.html" %}
{% block metadata_title %}Ingest Usage{% endblock %}

{% block main_content %}
    <header>
        <h1>Ingest Usage Homepage</h1>
    </header>

    {% with message = get_flashed_messages() %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    {% endwith %}

    <ul>
        <li>To upload COUNTER data, <a href="{{ url_for('ingest_usage.upload_COUNTER_data') }}">click here</a>.</li>
        <li>To make a SUSHI call, <a href="{{ url_for('ingest_usage.harvest_SUSHI_statistics') }}">click here</a>.</li>
        <li>To save a non-COUNTER usage file, <a href="{{ url_for('ingest_usage.upload_non_COUNTER_reports') }}">click here</a>.</li>
    </ul>

    <p>To return to the homepage, <a href="{{ url_for('homepage') }}">click here</a>.</p>
{% endblock %}