{% extends "layout.html" %}
{% block metadata_title %}Ingest Usage{% endblock %}

{% block main_content %}
    <header>
        <h1>Ingest Usage Homepage</h1>
    </header>

    <article>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    {% endwith %}
    </article>

    <article>
        <ul>
            <li><a href="{{ url_for('ingest_usage.upload_COUNTER_data') }}">Click here</a> to upload COUNTER data.</li>
            <li><a href="{{ url_for('ingest_usage.harvest_SUSHI_statistics') }}">Click here</a> to make a SUSHI call.</li>
            <li><a href="{{ url_for('ingest_usage.upload_non_COUNTER_reports') }}">Click here</a> to save a non-COUNTER usage file.</li>
        </ul>
    </article>
{% endblock %}