<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload COUNTER Reports</title>
</head>
<body>
    <h1>Upload COUNTER Reports</h1>
    <p>Instructions on how to have workbooks properly formatted for `COUNTERReportsForm()`</p>
    
    <form method="POST" action="{{ url_for('ingest_usage.upload_COUNTER_reports') }}"  enctype="multipart/form-data">
        {{ form.csrf_token }}
        <label>
            {{ form.COUNTER_reports.label }}
            {{ form.COUNTER_reports }}
        </label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>