
{% extends "layout.html" %}
{% block metadata_title %}Write SQL Queries{% endblock %}

{% block main_content %}
    <header>
        <h1>Write a Custom SQL Query</h1>
    </header>

    <article>
        <p>A custom SQL query to be run against the database can be entered below. Please note that knowledge of the NoLCAT database structure, COUNTER and its fixed vocabulary terms, and the names used for resources in COUNTER reports are necessary to construct a successful query. If there is any doubt about the ability to construct a successful query, use <a href="{{ url_for('view_usage.use_predefined_SQL_query') }}">a predefined query</a> or <a href="{{ url_for('view_usage.start_query_wizard') }}">the query wizard</a> instead.</p>

        <form action="{{ url_for('view_usage.run_custom_SQL_query') }}" method="POST">
            {{ form.csrf_token }}
            <label>
                {{ form.SQL_query.label }}
                {{ form.SQL_query }}
            </label>
            <br><br>
            <label>
                {{ form.open_in_Excel.label}}
                {{ form.open_in_Excel }}
            </label>
            <input type="submit" value="Submit">
        </form>
    </article>
{% endblock %}