{% extends "layout.html" %}
{% block metadata_title %}Download Non-COUNTER Usage{% endblock %}

{% block main_content %}
    <header>
        <h1>Download Non-COUNTER Usage Files</h1>
    </header>

    <article>
        <form action="{{ url_for('view_usage.download_non_COUNTER_usage', testing=testing) }}" method="POST">
            {{ form.csrf_token }}
            <label>
                {{ form.AUCT_of_file_download.label}}
                {{ form.AUCT_of_file_download }}
            </label>
            <input type="submit" value="Submit">
        </form>
    </article>
{% endblock %}