<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PR Query Wizard</title>
</head>
<body>
    <h1>PR Query Wizard <small>(continued)</small></h1>

    {% with message = get_flashed_messages() %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('view_usage.construct_PR_query_with_wizard') }}" method="POST">
        {{ form.csrf_token }}
        <label>
            {{ form.begin_date.label }}
            {{ form.begin_date }}
        </label>
        <br>
        <label>
            {{ form.end_date.label }}
            {{ form.end_date }}
        </label>
        <br>
        <label>
            {{ form.display_fields.label }}
            {{ form.display_fields }}
        </label>
        <br>
        <label>
            {{ form.platform_filter.label }}
            {{ form.platform_filter }}
        </label>
        <br>
        <label>
            {{ form.data_type_filter.label }}
            {{ form.data_type_filter }}
        </label>
        <br>
        <label>
            {{ form.access_method_filter.label }}
            {{ form.access_method_filter }}
        </label>
        <br>
        <label>
            {{ form.metric_type_filter.label }}
            {{ form.metric_type_filter }}
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>