{% extends "layout.html" %}
{% block metadata_title %}Preset Queries{% endblock %}

{% block main_content %}
    <header>
        <h1>Preset Queries</h1>
    </header>

    <article>
        <form action="{{ url_for('view_usage.use_predefined_SQL_query') }}" method="POST">
            {{ form.csrf_token }}
            <h2>Select Date Range</h2>
            <label>
                {{ form.begin_date.label}}
                {{ form.begin_date }}
            </label>
            <label>
                {{ form.end_date.label}}
                {{ form.end_date }}
            </label>
    
            <h2>Select Type of Query</h2>
            <label>
                {{ form.query_options.label}}
                {{ form.query_options }}
            </label>
            <br><br>
            <label>
                {{ form.open_in_Excel.label}}
                {{ form.open_in_Excel }}
            </label>
            <input type="submit" value="Submit">
        </form>
    </article>
{% endblock %}