<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Wizard</title>
</head>
<body>
    <!--
        ToDo: Create wizard for constructing queries
            * Checkbox select on fields initiates SELECT statement values and JOIN values
            * Fixed COUNTER vocab fields use checkboxes for WHERE <field> = <value> OR <value>...
            * Radio button option for fields to use in GROUP BY
            * Nest checkboxes in radio button options for FILTER BY?
            * Fiscal year and usage month will always be part of SORT BY
        ToDo: For resource titles and vendor names (possibly sources as well), provide text boxes with fuzzy search that allow pre-screening of results that will be pulled up
    -->
</body>
</html>