/*** BODY ***/
body {
    margin: 0;  /* Null margin for later properties to override */
    font-family: "Acumin Pro", acumin-pro, Arial, sans-serif;
    font-size: 16px;
    line-height: 125%;
    color: #2c2a29;
    background-color: #ffffff;
}
main {
    margin-left: 1.5rem;  /* Moves text away from viewport edge */
}
a, a:visited {
    color: auto;
}
a:active, a:focus, a:hover {
    text-decoration: none;
}
small {
    font-size: 70%;
}
dt {
    font-weight: 700;
    margin-left: 1.75rem;
}
dd {
    margin-left: 3.5rem;
}


/*** HEADINGS ***/
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    color: inherit;
    font-weight: 800;
    margin-top: 1.25rem;
    margin-bottom: 0.875rem;
}
h1 {
    font-size: 2.25rem;
    margin-top: 0.67rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    text-transform: uppercase;
}


/*** NAVIGATION ***/
nav {/*
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border:none;
*/}
nav > li {/*
    position: relative;
    display: block;
*/}
nav > li > a {/*
    position: relative;
    display: block;
    padding: 0.5em 1em;
*/}
nav > li > a:hover, nav > li > a:focus {/*
    text-decoration: none;
    background-color: #f4f4f4;
*/}

nav ul {/*
    list-style: none;
    padding-left: 0
*/}
nav a {/*
    font-weight: 400;
*/}
nav li a {/*
    display: block;
    background-image: none;
    font-weight: 400;
    line-height: 1.777;
    padding: 1em;
    font-size:.8em;
    cursor:pointer;
*/}


/*** FORMS ***/
button, input, optgroup, select, textarea {/*
    color: inherit;
    font: inherit;
    margin: 0;
*/}
label {/*
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
*/}
button {/*
    font-weight: 500;
    font-family: acumin-pro-condensed, "Arial", sans-serif;
    line-height: 1.1;
    white-space: normal;
    border-style: solid;
    margin: 2px 0;
    border-radius: .25em;
    border-width: 1px;
    -webkit-transition: all 0.10s ease-in-out;
    transition: all 0.15s ease-in-out;
*/}

input[type="radio"], input[type="checkbox"] {/*
    margin: 4px 0 0;
    margin-top: 1px \9; /* margin-top: 10px; *\
    margin-bottom: 10px;
    line-height: normal;
    position: relative;
    display: block;
*/}
button, html input[type="button"], input[type="reset"], input[type="submit"] {/*
    -webkit-appearance: button;
    cursor: pointer;
*/}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {/*
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
*/}

input[type="radio"] label, input[type="checkbox"] label {/*
    min-height: 28px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
*/}



/*** TABLES ***/
table {/*
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 28px;
*/}
td, th {/*
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd; /* for a bordered style */
*/}
th {/*
    text-align: left;
*/}
table > thead tr {/*
    background-color:#782f40;
    color:#ffffff
*/}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {/*
    padding: 0.4em;
    line-height: 1.777;
    vertical-align: top;
    border-top: 1px solid #dddddd;
*/}
.table > thead > tr > th {/*
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
*/}

table td[class*="col-"], table th[class*="col-"] {/*
    position: static;
    display: table-cell;
    float: none;
*/}
table col[class*="col-"] {/*
    position: static;
    display: table-column;
    float: none;
*/}