/*
    FSU Garnet #782F40
    FSU Gold #CEB888
    White #FFFFFF
    Stadium Night #2C2A29

    Plaza Brick #572932
    Gulf Sands #DFD1A7

    Legacy Blue #425563
    Wescott Water #5CB8B2
    Vault Garnet #A6192E
    Vault Gold #FFC72C

    White background takes FSU Garnet, Stadium Night, Plaza Brick, Legacy Blue, Vault Garnet text
    FSU Garnet background takes White text; FSU Gold, Gulf Sands large text
    FSU Gold background takes FSU Garnet, Stadium Night, Plaza Brick, Wescott Water large text
*/

/*** BODY ***/
body {
    margin: 0;
    font-family: "Acumin Pro", acumin-pro, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.777;
    color: #2c2a29;
    background-color: #fff;
}
p {
    margin: 0 0 14px;
    font-size: 1.333rem;
    font-weight: normal;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 14px;
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}
li {
    -webkit-transition: all 0.10s ease-in-out;
    transition: all 0.15s ease-in-out;
}
dl {
    margin-top: 0;
    margin-bottom: 28px;
}
dt, dd {
    line-height: 1.777;
}
dt {
    font-weight: 700;
}
dd {
    margin-left: 0;
}

blockquote {
    padding: 14px 28px;
    margin: 0 0 28px; /* margin: 1em 0 */
    font-size: 21.328px; /* font-size: 1.333em; */
    border-left: 5px solid #ceb888;
    font-weight: 300;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 1.333em;
    border-width: 1px 0;
    border-style: solid;
    font-family: acumin-pro-condensed, "Arial", sans-serif;
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0;
}

b, strong {
    font-weight: bold;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
address {
    margin-bottom: 28px;
    font-style: normal;
    line-height: 1.777;
}
caption {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: #782f40;
    text-align: left;
}
q, pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}


/*** HEADINGS ***/
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
    font-family: acumin-pro-condensed, "Arial", sans-serif;
}
main  h2, main  h3, main  h4, main  h5, main  h6 {
    line-height: 1.1;
    margin-top: 0.5em;
}
h1, h2, h3 {
    margin-top: 28px;
    margin-bottom: 14px;
}
h4, h5, h6 {
    margin-top: 14px;
    margin-bottom: 14px; /* margin-bottom: 7px */
}
h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 2em; /* font-size: 51px; */
    margin: 0.67em 0;
}
h2 {
    font-size: 37px;
}
h3 {
    font-size: 29px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 16px;
}


/*** LINKS ***/
a {
    background-color: transparent;
    color: #782f40;
    text-decoration: none;
    font-weight: 800;
    -webkit-transition: all 0.10s ease-in-out;
    transition: all 0.15s ease-in-out;
}

a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, li a, dt a, a:hover, a:focus {
    background-image: linear-gradient(to right, #782f40 40%, #ceb888 60%); /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 40%, rgba(255, 255, 255, 0.15) 60%); */
    background-position: 50% calc(100% - 1px);
    background-position: 50% 100%;
    background-repeat: repeat-x;
    background-size: 6px 1px;
}
p a, li a, dt a, td a {
    font-weight: 800;
}
a, a:visited {
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}
a:hover, a:focus {
    color: #ceb888;
    text-decoration: none;
    /* shared with `a` */

}
a:focus {
    outline: 5px auto -webkit-focus-ring-color; /* outline: 3px auto -webkit-focus-ring-color */
    outline-offset: -2px;
}


/*** HEADER AND FOOTER ***/
header, footer {
    /*ToDo: Set background color to garnet, text color to white*/
}
footer a:first-child {
    /*ToDo: Align left*/
}
footer a:last-child {
    /*ToDo: Align right*/
}



/*** NAVIGATION ***/
nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border:none;
}
nav > li {
    position: relative;
    display: block;
}
nav > li > a {
    position: relative;
    display: block;
    padding: 0.5em 1em;
}
nav > li > a:hover, nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

nav ul {
    list-style: none;
    padding-left: 0
}
nav a {
    font-weight: 400;
}
nav li a {
    display: block;
    background-image: none;
    font-weight: 400;
    line-height: 1.777;
    padding: 1em;
    font-size:.8em;
    cursor:pointer;
}


/*** FORMS ***/
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
button {
    font-weight: 500;
    font-family: acumin-pro-condensed, "Arial", sans-serif;
    line-height: 1.1;
    white-space: normal;
    border-style: solid;
    margin: 2px 0;
    border-radius: .25em;
    border-width: 1px;
    -webkit-transition: all 0.10s ease-in-out;
    transition: all 0.15s ease-in-out;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9; /* margin-top: 10px; */
    margin-bottom: 10px;
    line-height: normal;
    position: relative;
    display: block;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

input[type="radio"] label, input[type="checkbox"] label {
    min-height: 28px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}



/*** TABLES ***/
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 28px;
}
td, th {
    padding: 0;
    background-color: #fff;
    border: 1px solid #dfd1a7; /* for a bordered style */
}
th {
    text-align: left;
}
table > thead tr {
    background-color:#782f40;
    color:#ffffff
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    padding: 0.4em;
    line-height: 1.777;
    vertical-align: top;
    border-top: 1px solid #dfd1a7;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dfd1a7;
}

table td[class*="col-"], table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}
table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}