<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Dataframes Warning</title>
</head>
<body>
    <h1>Empty Dataframes Warning</h1>

    <p>The dataframe(s) for the relation(s) below contain no data:</p>
    <ul>
        {% for relation in list %}
        <li>{{ relation }}</li>
        {% endfor %}
    </ul>
    
    <p>At best, this will result in missing data in the database; the more likely outcome is that large amounts of the data will fail to load and the program will crash with an HTTP 500 error because empty dataframes can't meet primary and foreign key constraints. To create TSV files that the wep app can read, copy the data from the existing files and paste it as text into a new spreadsheet file, then save it as a tab delimited file; if the tab delimited file uses a ".txt" extension, save the file with that extension, close the file, then change the extension to ".tsv" by renaming the file. Once the TSVs have been recreated for all the relation(s) listed above, <a href="{{ url_for('initialization.collect_initial_relation_data') }}">restart the initialization wizard</a>.</p>
</body>
</html>