<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Database Initialization Wizard 4</title>
</head>
<body>
    <h1>Database Initialization Wizard: Page 4</h1>

    <!--
    <ol>
        <li><h2>Upload Historical R4 Usage</h2>
            <p>Initializing the database with the historical R4 data not only ensures that all the historical COUNTER data is preserved, it also provides a foundation for the deduplication of resources collected via SUSHI.</p>
            <ol>
                <li>Create a folder containing nothing but the reformatted R4 report CSVs with every file named using the naming convention `{Statistics_Source_ID}_{R4 report type abbreviation}_{calendar year assigned to fiscal year in "yyyy" format}.csv`</li>
                <li>Click on the "Open" button below to get to the file navigation window, navigate to the folder created above, then use `Ctrl + a` to select all the files in the folder</li>
                <li><form action="{{ url_for('ingest.wizard_page_4') }}" method="POST" enctype="multipart/form-data">
                    <label>
                        Upload all the selected files
                        <input name="R4_files" type="file" multiple>
                    </label>
                    <button type="submit">Submit</button>
                </form></li>
            </ol>
        </li>
    </ol>
    -->

    <!-- From the route function:
    form = FormClass()
    if request.method == 'GET':
        #ToDo: `SELECT AUCT_Statistics_Source, AUCT_Fiscal_Year FROM annualUsageCollectionTracking WHERE Usage_File_Path='true';` to get all non-COUNTER stats source/date combos
        #ToDo: Create an iterable to pass all the records returned by the above to a form
        #ToDo: For each item in the above iterable, use `form` to provide the opportunity for a file upload
        return render_template('blueprint_name/initial-data-upload-4.html', form=form)
    -->
    
</body>
</html>