<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Database Initialization Wizard 2</title>
</head>
<body>
    <h1>Database Initialization Wizard: Page 2</h1>

    <ol>
        <li><h2>Create the `annualUsageCollectionTracking` Relation <small>(cont'd)</small></h2>  <!--Using the nested lists means heading numbering restarts on each page, is this OK?-->
            <ol>
                <li>Download <a href="{{ url_for('initialization.download_file', filename='initialize_annualUsageCollectionTracking.tsv') }}">"initialize_annualUsageCollectionTracking.tsv"</a>.</li>  <!--ToDo: Confirm that the template file is being retrieved from the correct location-->
                <li>Fill out the CSV from existing documentation:
                    <ul>
                        <li>For statistics source and year combinations not requiring usage collection, set `Usage_Is_Being_Collected` to false and choose the appropriate `Collection_Status`</li>
                        <li>For statistics source and year combinations with manually collected COUNTER R4 reports, set `Usage_Is_Being_Collected`, `Manual_Collection_Required`, and `Is_COUNTER_Compliant` to true, choose the appropriate `Collection_Status`, then prepare the R4 reports:
                            <ol>
                                <li>Load each R4 report into OpenRefine (<a href="https://openrefine.org/download.html">download it here</a>), ignoring the first seven (7) lines at the beginning of the file and naming the project according to the convention `[Statistics_Source_ID]_[report type]_[fiscal year in "yyyy" format]`</li>
                                <li>Download and apply the JSON appropriate for the report type
                                    <ul>  <!--ToDo: Confirm that downloads work and get correct files-->
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/BR1.json') }}">BR1</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/BR2.json') }}">BR2</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/BR3.json') }}">BR3</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/BR5.json') }}">BR5</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/DB1.json') }}">DB1</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/DB2.json') }}">DB2</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/JR1.json') }}">JR1</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/JR2.json') }}">JR2</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/MR1.json') }}">MR1</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/PR1.json') }}">PR1</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/TR1.json') }}">TR1</a></li>
                                        <li><a href="{{ url_for('initialization.download_file', filename='../nolcat_db_data/JSONs/TR2.json') }}">TR2</a></li>
                                    </ul>
                                </li>
                                <!-- Issues with specific stats sources:
                                    * Gale reports needed to be copied and pasted as values with the paste special dialog box to work in OpenRefine
                                    * iG Press/BEP reports have multiple ISBNs and ISSNs in the fields for those values
                                -->
                                <li>Export the OpenRefine project as a TSV (to preserves the encoding) into a folder just for these files</li>
                            </ol>
                        </li>
                        <li>For statistics source and year combinations which had manually collected non-COUNTER compliant usage (including COUNTER R3 and earlier), set `Usage_Is_Being_Collected` and `Manual_Collection_Required` to true, `Is_COUNTER_Compliant` to false, choose the appropriate `Collection_Status`, and if a file with the usage exists, put "true" in `Usage_File_Path`</li>
                        <li>For statistics source and year combinations with R5 SUSHI, set `Usage_Is_Being_Collected` and `Is_COUNTER_Compliant` to true and `Collection_Status` to "Collection not started"</li>
                        <li>For statistics source and year combinations not falling into any of the above categories, make selections as appropriate</li>
                    </ul>
                </li>
                <li>Delete the columns with the `statisticsSources.Statistics_Source_Name` and `fiscalYears.Year` fields</li>
                <form action="{{ url_for('initialization.collect_AUCT_and_historical_COUNTER_data') }}" method="POST" enctype="multipart/form-data"></form>
                    {{ form.csrf_token }}
                    <li><label><!--ToDo: Confirm that numbering continuing from instructions `ol` is on form label text-->
                        {{ form.annualUsageCollectionTracking_TSV.label }}
                        {{ form.annualUsageCollectionTracking_TSV }}
                    </label></li>
                    <br>
                    <li><label>
                        {{ form.COUNTER_TSVs.label }}
                        {{ form.COUNTER_TSVs }}
                    </label></li>
                    <input type="submit" value="Submit">
                </form>
            </ol>
        </li>
    </ol>
</body>
</html>