<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Database Initialization Wizard 2</title>
</head>
<body>
    <h1>Database Initialization Wizard: Page 2</h1>

    <ol>
        <li><h2>Create the `annualUsageCollectionTracking` Relation <small>(cont'd)</small></h2>  <!--Using the nested lists means heading numbering restarts on each page, is this OK?-->
            <ol>
                <li>Download <a href="{{ url_for('initialization.download_file', filename='initialize_annualUsageCollectionTracking.tsv') }}">"initialize_annualUsageCollectionTracking.tsv"</a>.</li>  <!--ToDo: Confirm that the template file is being retrieved from the correct location-->
                <li>Fill out the TSV from existing documentation:
                    <ul>
                        <li>For statistics source and year combinations not requiring usage collection, set `Usage_Is_Being_Collected` to false and choose the appropriate `Collection_Status`</li>
                        <li>For statistics source and year combinations which had manually collected non-COUNTER compliant usage (including COUNTER R3 and earlier), set `Usage_Is_Being_Collected` and `Manual_Collection_Required` to true, `Is_COUNTER_Compliant` to false, choose the appropriate `Collection_Status`, and if a file with the usage exists, put "true" in `Usage_File_Path`</li>
                        <li>For statistics source and year combinations with R5 SUSHI, set `Usage_Is_Being_Collected` and `Is_COUNTER_Compliant` to true and `Collection_Status` to "Collection not started"</li>
                        <li>For statistics source and year combinations with manually collected COUNTER reports, set `Usage_Is_Being_Collected`, `Manual_Collection_Required`, and `Is_COUNTER_Compliant` to true, choose the appropriate `Collection_Status`, then prepare the R4 reports:
                            <ol>
                                <li>Save the reports in an Excel workbook where each sheet name is the abbreviation of the name of the report in that sheet</li>
                                <li>Give the workbooks names that begin with the `Statistics_Source_ID` of the report followed by an underscore</li>
                                <li>Place all the workbooks in a folder that contains nothing but these workbooks</li>
                            </ol>
                        </li>
                        <li>For statistics source and year combinations not falling into any of the above categories, make selections as appropriate</li>
                    </ul>
                </li>
                <li>Delete the columns with the `statisticsSources.Statistics_Source_Name` and `fiscalYears.Year` fields</li>
            </ol>
        </li>
        <li><h2>Submit the `annualUsageCollectionTracking` Relation TSV and COUNTER Workbooks</h2>
            <ol><form action="{{ url_for('initialization.collect_AUCT_and_historical_COUNTER_data') }}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <li><label>
                    {{ form.annualUsageCollectionTracking_TSV.label }}
                    {{ form.annualUsageCollectionTracking_TSV }}
                </label></li>
                <br>
                <li><label>
                    {{ form.COUNTER_reports.label }}
                    {{ form.COUNTER_reports }}
                </label></li>
                <input type="submit" value="Submit">
            </form></ol>
        </li>
    </ol>
</body>
</html>