{% extends "layout.html" %}
{% block metadata_title %}Database Initialization Wizard 4{% endblock %}

{% block main_content %}
    <header>
        <h1>Database Initialization Wizard: Page 4</h1>
    </header>

    <article>
    {% with message = get_flashed_messages() %}
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    {% endwith %}
    </article>

    <p>The initial data load is complete! <a href="{{ url_for('homepage') }}">click here</a> to return to the homepage.</p>
{% endblock %}