<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Database Initialization Wizard 4</title>
</head>
<body>
    <h1>Database Initialization Wizard: Page 4</h1>

    {% with message = get_flashed_messages() %}
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    {% endwith %}

    <p>The initial data load is complete! <a href="{{ url_for('homepage') }}">click here</a> to return to the homepage.</p>
</body>
</html>