<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>Database Initialization Wizard 4</title>
</head>
<body>
    <h1>Database Initialization Wizard: Page 4</h1>

    <!--ToDo: Deduplication of resources from reformatted R4 upload-->

    <p>a form containing the metadata for each potential resource match pair with a checkbox for indicating if it is a pair and radio buttons to indicate which set of metadata to save to the Resources relation</p>
</body>
</html>