<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiscal Year Details</title>
</head>
<body>
    <!--
        ToDo: Run method calculate_ACRL_60b
        ToDo: Run method calculate_ACRL_63
        ToDo: Run method calculate_ARL_18
        ToDo: Run method calculate_ARL_19
        ToDo: Run method calculate_ARL_20
        ToDo: Run method create_usage_tracking_records_for_fiscal_year
        ToDo: View AUCT records for the FY
    -->
</body>
</html>