{% extends "layout.html" %}
{% block metadata_title %}Fiscal Year Details{% endblock %}

{% block main_content %}
    <!--ToDo: Create title including Jinja variable for fiscal year-->

    <!--ToDo: Create HTML form for the `RunAnnualStatsMethodsForm` form class-->
    <!--ToDo: Create message flashing location for result of annual stats methods-->

    <!--ToDo: Show the fields below from the `fiscalYears` relation for the given fiscal year, drawing from the `fiscal_years_details` variable in the route function
        start_date
        end_date
        notes_on_statisticsSources_used
        notes_on_corrections_after_submission
    -->
    <!--ToDo: Show all `annualStatistics` records for the given fiscal year-->
    <!--ToDo: Create HTML form for the `EditFiscalYearForm` form class-->
    <!--ToDo: Create HTML form for the `edit_annualStatistics_form` form class-->

    <!--ToDo: Display dataframe  with data from the `fiscal_year_reporting` variable in the route function, accompanying each record with the HTML form for the `EditAUCTForm` form class-->
{% endblock %}