<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" rel="stylesheet">
    <title>NoLCAT</title>
</head>
<body>
    <h1>NoLCAT Homepage</h1>
    <p>This is the NoLCAT homepage.</p>
    <!--
        ToDo: Link to login/templates/login_page.html
        ToDo: Link to ingest_usage/templates homepage
        ToDo: Link to annual_stats/templates/index.html
        ToDo: Link to view_resources/templates/view_resources.html
        ToDo: Link to view_vendors/templates/view_vendors.html
    -->
</body>
</html>
